.about-container {
  width: 100%;
}
.image-news1 {
  width: 100%;
  height: 400px;
  background: url(/src/assets/aboutnews2.jpg);
  background-size: cover;
  background-position: center;
}
.image-news2 {
  width: 100%;
  height: 400px;
  background: url(/src/assets/aboutnews1.jpg);
  background-size: cover;
  background-position: center;
}
.imagepart {
  display: flex;
  gap: 12px;
}
.about-part-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-wrap: wrap;
  gap: 13px;
  margin-top: 20px;
}
.about-part2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  text-align: center;
}
.about-part2 button {
  width: 250px;
  height: 40px;
  margin-left: 120px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
.about-part2 button:hover {
  margin: rgb(207, 2, 47);
  transition: 0.5s;
}
.about-part1 {
  width: 100%;
  margin-top: 20px;
  border: 1px solid red;
  font-size: 15px;
}

@media (max-width: 768px) {
  .about-part-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-wrap: wrap;
    gap: 13px;
    margin-top: 20px;
  }
}
