.contact-container {
  width: 100%;
  background: black;
  margin-top: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-container .box {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 25px;
}
.box .subscribe {
  display: flex;
  flex-direction: column;
}
.subscribe form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid gray;
}
.subscribe button {
  width: 35%;
  margin-top: 10px;
  height: 35px;
}
.subscribe form input {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  margin-top: 10px;
}
.subscribe form label {
  font-size: 15px;
  margin-top: 10px;
}
.box p {
  font-size: 14px;
  color: rgb(167, 165, 165);
}
.box ul {
  list-style: none;
  font-size: 15px;
}
.box ul li {
  font-size: 13px;
  padding: 10px 14px;
}
.box h4 {
  text-align: start;
  padding: 10px 14px;
}
.box a {
  font-size: 13px;
  padding: 10px 14px;
  text-align: center;
  color: white;
}
